@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}
html{
    font-size:100%;
    line-height: 1.75;
}
body{
    margin: 0;
    padding:0;
    font-family:'Zen Maru Gothic', sans-serif;
    font-weight:300;
    color:white;

}
li{
    list-style:none;
}
a{
    color:white;
    font-weight:400;
    text-decoration:none;
}
.container{
    background: linear-gradient(to top right,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
    url("https://images.unsplash.com/photo-1612295778204-0062c7c128d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1214&q=80") center/cover no-repeat;
    height: 100vh;
    width:100%;
    /* display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center; */
    text-align: center;
}

header{
    position:fixed;
    z-index:99;
    margin:auto;
    width:100%;
    /* background-color: yellowgreen; */
}

footer{
    position:absolute;
    bottom: 0;
    width:100%;
    text-align: center;
}

header .logo{
    display:inline-block;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight:700;
}

header .nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left:0.8rem;
    height: 100%;
    display:flex;
    align-items:center;
}
header .nav-toggle{
    display:none;
}


.nav-toggle-label span{
    position:relative;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before{
    display:block;
    width:2rem;
    height:3px;
    background-color: white;
    border-radius: 4px;
}

.nav-toggle-label span::after,
.nav-toggle-label span::before{
    content:"";
    position:absolute;
}

.nav-toggle-label span::after{
    bottom:7px;
    left:0;
}

.nav-toggle-label span::before{
    top:7px;
    left:0;
}

nav{
    position:absolute;
    top:80%;
    left:0;
    text-align:left;
    transform-origin:top;
    transform:scale(1,0);
    transition: transform 400ms ease-in-out;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1)
}

nav ul{
    padding:0;
    margin: 0;
}

nav li{
   margin: 0 0 0.8rem 0.8rem;
}

nav a{
    opacity:0;
    transition: opacity 250ms ease-in-out;
    position:relative;

}
nav a::before{
    content:"";
    display:block;
    bottom:-0.6rem;
    position:absolute;
    width:100%;
    height:2px;
    background-color: white;
    transform:scale(0,1);
    transition: transform 150ms ease-in-out; 
}

.nav-toggle:checked ~ nav a{
    opacity:1;
    transition: opacity 300ms ease-in-out 250ms;
}
nav li:hover a::before {
    transform: scale(1,1)
}

main{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

main p{
    font-weight: 400;
    font-size: 1.25rem;
}

main .btn-camp{
    border-radius: 4px;
    background-color: rgb(212, 137, 39);
    padding:0.8rem;
    margin-top:1rem;
    font-weight:400;
}

@media screen and (min-width:800px){
    header .nav-toggle-label {
        display: none;
    }
    header{
        display:grid;
        grid-template-columns:1fr auto minmax(600px,3fr) 1fr;
    }
    header .logo{
        grid-column: 2/3
    }
    header nav{
        all:unset;
        grid-column:3/4;
        display:flex;
        justify-content:flex-end;
        align-items:center

    }
    nav ul{
        display:flex;
        justify-content:flex-end;
    }
    nav li{
        margin-bottom:0;
        margin-left:1.5rem;
    }
    nav a{
        opacity:1;
    }
}